{% extends 'stamps/base.html' %}

{% block content %}

<h2>{{ title }}</h2>
<div class="product-grid">
    {% for p in object_list %}

    <div class="product-item">
        <h3><a href="{{ p.get_absolute_url}}">{{ p.title|linebreaks|truncatewords:5 }}</a></h3>
        {% if p.photos %}
            <p><img class="img-article thumb" src="{{p.photos.url}}"></p>
        {% endif %}

        {% autoescape on %}
        <p class="price-text">{{ p.price }}</p>
        {% endautoescape %}
        <div class="clear"></div>
        {% if p.in_stock %}
            <p class="link-buy-post"><a href="/basket">У кошик</a></p>
        {% else %}
            <p class="not-buy-post">Немає в наявності</p>
        {% endif %}
        <hr>
    </div>
    {% endfor %}
</div>
{% if page_obj.has_other_pages %}
<nav class="list-pages">
	<ul>
		{% if page_obj.has_previous %}
		<li class="page-num">
			<a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
		</li>
		{% endif %}

		{% for p in paginator.page_range %}
			{% if page_obj.number == p %}
		<li class="page-num page-num-selected">{{ p }}</li>
			{% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
		<li class="page-num">
			<a href="?page={{ p }}">{{ p }}</a>
		</li>
			{% endif %}
		{% endfor %}
		{% if page_obj.has_next %}
		<li class="page-num">
			<a href="?page={{ page_obj.next_page_number }}">&gt;</a>
		</li>
		{% endif %}
	</ul>
</nav>
{% endif %}
{% endblock %}