{% extends 'stamps/base.html' %}

{% block content %}
<h2>{{ title }}</h2>
<h3>Укрпошта виплатила 2,3 млн гривень допомоги від держави евакуйованим мешканцям Херсонщини</h3>
<p>З першого дня трагедії на Каховській ГЕС херсонська команда Укрпошти організувала та продовжує виплату одноразової грошової допомоги від держави у розмірі 2000 грн для дорослих та 3000 грн для дітей та людей з інвалідністю на вокзалах Миколаєва, Одеси, та Хмельницького, куди прибувають евакуйовані люди з районів затоплення. Загалом з 6 червня співробітники Укрпошти виплатили переселенцям Херсонщини 2,3 млн грн. Допомогу отримали більше 1000 людей.</p>
<p>Також разом з Пенсійним Фондом України команда Укрпошти погодила питання дострокової виплати пенсій та субсидій без дотримання дат виплат тим, хто залишив свої міста та села/</p>
<p>Станом на зараз, команда Укрпошти продовжує надавати послуги в Херсоні та області, та робить все можливе, щоб доставити мешканцям пенсію, продукти та пошту навіть на човнах. Також команда Укрпошти долучається до процесу евакуації населення в сільській місцевості та у співпраці з ВЦА, відповідними міністерствами та УЗ забезпечує виплати в евакуаційних потягах.</p>
<p>Щодо роботи Укрпошти на Херсонщині та за інформацію де та як евакуйовані можуть отримати допомогу від держави та виплати, просимо звертатись на сторінку Укрпошти або за телефоном 0 800 300 545</p>
<p>Нагадаємо, що 6 червня російські війська підірвали дамбу Каховської ГЕС на Херсонщині, у зв’язку з чим було розпочато евакуацію населення з потенційних районів затоплення. Команда Укрпошти відреагувала миттєво, адже вже більше року поштовики працюють в надскладних умовах у прифронтових регіонах та на деокупованих територіях.</p>
<hr>
<h3>Як відправити гуманітарну допомогу постраждалим через Укрпошту?</h3>
<p>У зв’язку з трагічними подіями на Херсонщині, чимало людей звертається до відділень Укрпошти із питанням, на адресу якого волонтерського центру чи перевіреного благодійного фонду можна надіслати допомогу. Укрпошта починає приймати у своїх відділеннях по всій країні відправлення з гуманітарною допомогою та спрямовувати їх на конкретні потреби.

Зважаючи на те, що охочих простягнути руку допомоги постраждалим від підриву Каховської ГЕС дуже багато, в компанії вирішили поділилися списком необхідних речей та благодійних фондів.

Отже, якщо ви хочете допомогти та відправити посилку, зверніть, будь ласка увагу що варто надсилати в першу чергу.

До ГО «Відокремлений підрозділ "Херсонська регіональна ліга соціальних працівників України"», м.Херсон:
<li>Їжу швидкого приготування (супи, локшина, пюре, консерви, чай, кава хлібці, цукерки, печиво, цукор у стіках, енергетичні батончики)</li>
<li>Засоби гігієни (туалетний папір, вологі серветки, засоби жіночої гігієни, памперси (дитячі та дорослі), мило, зубні щітки та паста, шампунь, пральний порошок, антисептик, фумігатори тощо)</li>
<li>Ліки (заспокійливі, противірусні, протигіпертонічні засоби, знеболювальні, бетадин, хлоргексидин, перев'язувальні матеріали, метформін, таблетки для очищення води)</li>
<li>Матраци, подушки, ковдри, одяг, білизну</li>
<li>Корм для тварин</li>
<p></p>
Також Укрпошта продовжує надавати послуги в Херсоні та області, щоб доставити мешканцям пенсію, продукти та пошту навіть на човнах. А з першого дня трагедії виплачує допомогу від держави евакуйованим на вокзалах Миколаєва та Одеси.</p>

{% endblock %}